doctype html
html
  head
    title Knowledgebase
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark

      .container
        .navbar-header
          a.navbar-brand(href='/') KnowledgeBase
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a.navbar-brand(href='/') Home
            if user
              li
                a.navbar-brand(href='/articles/add') Add Article
          ul.nav.navbar-nav.navbar-right
            if user
              li 
                a.navbar-brand(href='/users/logout') Logout
            else
              
              li
                a.navbar-brand(href='/users/register') Register
              li
                a.navbar-brand(href='/users/login') Login
    .container
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
      block content
      br
      hr
      footer
        p Copyright &copy; 2017
    script(src='/bower_components/jquery/dist/jquery.js')  
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/main.js')  
